.houndCard {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.houndCanvasWrapper {
  flex: wrap;
}

.houndCanvas {
  width: 100%;
  background-color: #c5eefa;
  padding: 25px 10px 0px 10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.houndLabel {
  text-align: left;
  background-color: #fafafa;
  padding: 4px 0.8rem;
  padding-bottom: 0.5rem;
}

.houndLabel__id {
  font-weight: bold;
}

.houndLabel__info {
  font-size: 0.9rem;
}

.houndLabel__info__profile {
  color: var(--sig-color-1);
  font-size: 0.8rem;  
}

.houndLabel__info__profile:hover {
  text-decoration: underline;
  cursor: pointer;
}