.buyButton {
  margin-bottom: 10rem;
}

.userProfile {
  width: 50%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  font-family: "Rubik";
}

.profileHeader {
  display: flex;
  gap: 1.4rem;
  margin-bottom: 2.2rem;
}

.profileHeader__left__pic {
  width: 120px;
  margin-bottom: 1rem;
}

.profileHeader__left__pic > img {
  border-radius: 50%;
}

.profileHeader__left__address {
  font-size: small;
  text-align: center;
  transition-duration: 300ms;
}

.profileHeader__left__address:hover {
  cursor: pointer;
  color: var(--sig-color);
}

.profileHeader__right {
  padding: 0.5rem;
  font-size: medium;
  text-align: left;
  color: var(--clr-faded);
}

.profileHeader__right__name {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.profileHeader__right__description {
  font-size: 0.9rem;
}

/* Hound list */

.houndList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 1.5rem;
  /* gap: 1.5rem; */
  padding: 2rem 0rem;
}

.houndList > .houndCard {
  transition: margin 0.1s ease-out;
  -webkit-transition: margin 0.1s ease-out;
  -moz-transition: margin 0.1s ease-out;
  -o-transition: margin 0.1s ease-out;
}

.houndList > .houndCard:hover {
  cursor: pointer;
  margin-top: -1rem;
}

@media only screen and (max-width: 800px) {
  .userProfile {
    width: 90%;
  }
}

@media only screen and (max-width: 650px) {
  .userProfile {
    width: 95%;
  }

  .profileHeader {
    flex-direction: column;
  }

  .profileHeader__right__name {
    font-size: 1.2rem;
  }

  .profileHeader__right {
    text-align: center;
  }

  .profileHeader__left__pic {
    width: 100px;
    margin: auto;
    margin-bottom: 1rem;
  }
}
