@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&family=Rubik:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Farro:wght@400;500&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --sig-color: #1a73e8;
  --sig-color-1: #0693e3;
  --sig-color-2: #1d2d44;
  --clr-bg-2: #edf2f8;
  --clr-faded: #545a8b;
  --clr-gray: #eff3f4;
  --clr-primary-300: rgba(41, 40, 40, 0.8);
  --font-primary: "Farro";
  --font-secondary: "Rubik";
}

body {
  padding: 0;
  margin: 0;
  font-family: "Farro", "IBM Plex Sans Arabic", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary);
  font-size: 1.2rem;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  font-family: var(--font-secondary);
  font-weight: 400;
}

p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
}

.hover-blue {
  transition-duration: 300ms;
}

.hover-blue:hover {
  color: (--sig-color);
}

.numberInput {
  outline: none;
  border: 1px solid var(--clr-faded);
  border-radius: 25px;
  padding: 8px 20px;
}

.numberInput:active, .numberInput:focus {
  border: 1px solid var(--sig-color-1);
}

@media only screen and (max-width: 650px) {
  body {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }
}
