name: BitHounds CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  Build-and-test:
    name: Install dependencies and lint project
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
    - run: npm install --production=false
    - run: npm run lint
